doctype html
html
  head
    script.
        var data = !{data};
        var webtitles = !{webtitles};
        var system = '!{system}';
        var boxartdata = !{boxartdata};
        var minimumScore = !{minimumScore};
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/javascripts/boxart.js', type='text/javascript')
    script(src='/javascripts/dropzone.js', type='text/javascript')
    link(rel='stylesheet', href='/stylesheets/boxart.css')
    link(rel='stylesheet', href='/stylesheets/dropzone.css')
  body
    div
        h3 A little about the process of obtaining box art:
        div When you run /getboxart for a system, it uses the master data file (pce.json) as a source for which titles to download box art for.
        div Any titles with a score of less than 250 are ignored (we don't obtain box art for them)
        div If you have run /getboxart before, then title folders exist in /public/boxart. If we find that the title has a folder here, then we skidiv obtaining box art for that title
        div At the end of the /getboxart process, all folders are copied to the /public/boxart folder.
        div NOW: It is your duty to scan the box art and make corrections as needed. you can upload new art or delete it altoegther.
        div The next steps ("box art datafile" and "cdnready boxes") will scan only the art from the web folder
    h3 All titles which rank 250 and greater:
    div(class="controls")
        div
            span Add term1 to search: 
            input#search1
        div
            span Add term2 to search: 
            input#search2
        div
            input(type='checkbox')#hideus
            span Hide English-speaking titles
        div
            input(type='checkbox')#hideforeign
            span Hide Foreign titles
    ul

