doctype html
html
  head
    script.
        var data = !{data};
        var webtitles = !{webtitles};
        var system = '!{system}';
        var boxartdata = !{boxartdata};
        var threshold = !{threshold};
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/javascripts/boxart.js', type='text/javascript')
    script(src='/javascripts/dropzone.js', type='text/javascript')
    link(rel='stylesheet', href='/stylesheets/boxart.css')
    link(rel='stylesheet', href='/stylesheets/dropzone.css')
  body
    div(class="controls")
        p
            | Box Art is tied to suggestions and searching this way:
        table
            tr
                th top
                th above
                th below
            tr
                td 
                    | Check the "top suggestion" option for a title. This will place it the top catagory which includes suggestions on the main page for all systems. Basically these are popular titles to attract clicks.
                td
                    | Above is defined by the system's "suggestionThreshold" in the config. It is mostly translated to be "English speaking offical titles". These titles appear in system-specific suggestions and when browsing, appear as not "obscure". The default score for this is 400 and up.
                td
                    | Everything else. Generally these are foriegn, non-english or translated titles. I sometimes show them as "obscure"
        div Box Art threshold set to:
            span#threshold
        div(class="terms")
            p
                | Assign a search term to the "1" and "2":
            div
                span Add term1 to search: 
                input#search1
            div
                span Add term2 to search: 
                input#search2
        div
            input(type='checkbox')#hidegreen
            span Hide Green (Above Threshold; Official Release English-speaking)
        div
            input(type='checkbox')#hideyellow
            span Hide Yellow (Below Threshold; Official Release but Foreign)
        div
            input(type='checkbox')#hidered
            span Hide Red (Below 250; PD, Prototypes, Unofficial Titles)
    ul

